<footer class="main-footer">
    <nav>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <p>Saskia's first express-handlebars website</p>
            </li>
            <li class="main-footer__link">
                <a href="mailto:saskia.leinberger@gmail.com?subject=You are awesome!">Contact me to appreciate my work!</a>
            </li>
        </ul>
    </nav>
</footer>
